<html>
{{> head}}

<body>
    <h1>Epic Weather App</h1>
    <div class="container">
        <div class="weather-search">
            <form action="/weather" method="get">
                <input type="text" name="city" placeholder="Enter city name" />
                <button type="submit">Search</button>

            </form>
            <button id="location">Get my location</button>
        </div>
        <div class="city-recommendations">
            <h2>Popular cities</h2>
            <ul>
                <li><a href="/weather/Kyiv">Kyiv</a></li>
                <li><a href="/weather/Lviv">Lviv</a></li>
                <li><a href="/weather/Odessa">Odessa</a></li>
                <li><a href="/weather/Kharkiv">Kharkiv</a></li>
            </ul>
        </div>
        <script>
            document.getElementById('location').addEventListener('click', () => {
                navigator.geolocation.getCurrentPosition((position) => {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;
                    window.location.href = `/weather?lat=${lat}&lon=${lon}`;
                });
            });
        </script>
</body>

</html>